name: Sync Fork

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    
    steps:
      - name: Sync fork with upstream
        uses: tgymnich/fork-sync@v2.0
        with:
          owner: ${{ github.repository_owner }}
          head: main
          base: main
          token: ${{ secrets.GITHUB_TOKEN }}
